.formGralContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.data{
    display: flex;
    flex-direction: column;
}
.description{
    font-weight: bolder;
}
.description, .inputTxt{
    font-size: 20px;
}