.adminViewGralContainer{
    height: 100%;
    width: 100%;
}
.adminHeader{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.adminLogoImg{
    height: 100%;
    width: 30%;
}
.helloAdmin{
    font-size: 40px;
    font-weight: bolder;
    background-color: orange;
    color: white;
    height: 40%;
    padding: 6px;
}
.staffHeaderImg{
    height: 100%;
    width: 20%;
}
.employeesInitialPage{
    height: 85%;
    width: 100%;
    background-color: #ecff4545;
}
.buttonsContainer{
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}
.inventoryBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inventoryBtn{
    font-size: 25px;
    font-weight: bolder;
    color: white;
    background: #ef3838;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.addEmployeeBtn{
    background: none;
    border: none;
}
.addEmployeesIcon{
    width: 75px;
}
.employeesDataContainer{
    display: flex;
    flex-direction: column;
    height: 60%;
}
.employeesPostIt{
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.adminsContainer{
    background-color: aqua;
}
.chefsContainer{
    background-color:#ff81ca;
}
.waiterContainer{
    background-color: #4b00ff6e;
}
.adminsContainer, .chefsContainer, .waiterContainer{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #333333;
}