.inventoryViewGralContainer{
    height: 100%;
    width: 100%;
}
.inventoryHeader{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.helloInventory{
    font-size: 40px;
    font-weight: bolder;
    background-color: orange;
    color: white;
    height: 40%;
    padding: 6px;
}
.adminLogoImg {
    height: 100%;
    width: 35%;
}
.inventoryMain{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #ecff4545;
}
.inventoryListContainer{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
    height: 90%;
    width: 50%;
}
.inventoryList{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: 180px;
    padding: 12px;
    margin: 8px;
    border-radius: 10px;
    background: #ff0000cf;
}
.productname, .productPrice{
    color: white;
    font-size: 20px;
    font-family: revert;
    font-weight: bold;
    margin-bottom: 10px;
}
.addOrUpdateContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.addProductContainer, .updateProductContainer{
    height: 100%;
    width: 100%;
}
.updateProduct, .addProduct{
    background-color: yellow;
    color: red;
    font-weight: bolder;
    font-size: 28px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.updateProduct{
    background-color:  #ff7200;
    color: yellow;
}