.items{
    background-color: #ff6a00d7;
    height: 100%;
    width: 40%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.orderContainer{
    background-color: #FFE604;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 4px;
}
.customersNameContainer{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bolder;
}
.customersName{
    background: none;
    border-bottom-color: red;
    border-left-color: red;
    border-top: none;
    border-right: none;
    justify-content: center;
    font-size: 26px;
    width: 60%;
    display: flex;
}
.orderBtnsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selectedItemsContainer{
    margin-top: 6px;
}
.orderListProducts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 8px;
    font-size: 22px;
}
.total{
    font-size: 30px;
    margin: 2px;
    font-weight: bolder;
}
.kitchenBtn{
    background-color: red;
    font-size: 25px;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: revert;
    font-weight: bolder;
    padding: 6px;
}
.quantitySpan{
    background-color: #ffbb3e;
    width: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.decrease, .increase{
    height: 28px;
    width: 28px;
    border-radius: 100%;
    background-color: #ff8600;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plusSign, .minusSign{
    font-size: 35px;
}
.minusSign{
    margin-bottom: 5px;
}
.deleteBtn{
    width: 30px;
    height: 30px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.deleteIcon{
    width: 28px;
    height: 28px;
}